.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.loginForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px;
  background-color: var(--color-white);
}
.loginLogo p{ 
    font-size: 35px;
    font-weight: 500;
    color: var(--color-royal-blue);
}

.loginHeader {
  margin-bottom: 32px;
  text-align: center;
  width: 80%;
}

.loginHeader h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--color-dark-gray-1);
}

.loginHeader p {
  color: var(--color-slate-gray);
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 20px;
  border: 1px solid rgba(128, 128, 128, 0.089);
  padding: 8%;
  border-radius: 12px;
}

form section {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

form label {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-dark-slate-gray);
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  color: var(--color-dark-gray);
}

.inputIcon svg {
  width: 24px;
  height: 24px;
}

.inputIcon.left {
  left: 14px;
}

.inputIcon.right {
  right: 14px;
  cursor: pointer;
}

.inputIcon.right:hover {
  color: var(--color-royal-blue-1);
}

.inputWrapper input {
  width: 100%;
  padding: 15px 14px;
  border: 1px solid var(--color-lavender);
  font-size: 14px;
  font-family: var(--font-body);
  outline: none;
  color: var(--color-dark-gray-1);
  background-color: var(--color-ghost-white);
}

.inputWrapper input.iconLeft {
  padding-left: 45px;
}

.inputWrapper input.iconBoth {
  padding-left: 45px;
  padding-right: 40px;
}

.inputWrapper input:focus {
  border-color: var(--color-royal-blue-1);
  background-color: var(--color-white);
}

.rememberRow {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
}

.rememberRow div {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-dark-slate-gray);
  font-size: 14px;
}

.forgot-password{
    text-decoration: none;
}

.rememberRow div label{
    font-size: 14px;
    font-weight: 300;
    color: var(--color-dark-slate-gray);
}

.rememberRow span {
  font-size: 14px;
  color: var(--color-royal-blue);
  cursor: pointer;
  font-weight: 500;
}

.rememberRow span:hover {
  color: var(--color-royal-blue);
}

button[type="submit"] {
  padding: 13px 12px;
  background-color: var(--color-royal-blue);
  color: var(--color-white);
  border: none;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-body);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: var(--color-royal-blue);
}

.loginSpan{
    font-size: 12px;
    color: var(--color-dark-gray);
    position: fixed;
    bottom: 20px;
}

.loginInfo {
  width: 50%;
  background-color: var(--color-royal-blue);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;   
  align-items: flex-start;     
  text-align: left;            
  padding: 48px;
  padding-bottom: calc(48px + 3.7rem);
  color: var(--color-white);
  height: 100vh;    
}

.loginInfo h2 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 16px;
}

.loginInfo p {
  line-height: 1.4;
  font-weight: 400;
  opacity: 0.9;
  text-align: left;            
  max-width: 550px;            
}

.loginInfo > * {
  margin-bottom: 12px;
}

.loginInfo > *:last-child {
  margin-bottom: 0;
}

.loginInfoImg{
  height: 90%;
  width: 90%;
  padding-bottom: 2rem;
}

.loginInfoImg img{
  height: 100%;
  width: 100%;
}