.forgotContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.forgotForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px;
  background-color: var(--color-white);
}

.forgotLogo p { 
  font-size: 35px;
  font-weight: 500;
  color: var(--color-royal-blue);
}

.forgotHeader {
  margin-bottom: 32px;
  text-align: center;
  width: 80%;
}

.forgotHeader h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--color-dark-gray-1);
}

.forgotHeader p {
  color: var(--color-slate-gray);
  font-weight: 400;
}

.forgotForm form {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 20px;
  border: 1px solid rgba(128, 128, 128, 0.089);
  padding: 8%;
  border-radius: 12px;
}

.forgotForm form section {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.forgotForm form label {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-dark-slate-gray);
}

.forgotNote {
  display: flex;
  flex-direction: row !important;
}

.forgotNote p {
  color: var(--color-slate-gray);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.forgotForm button[type="submit"] {
  padding: 13px 12px;
  background-color: var(--color-royal-blue);
  color: var(--color-white);
  border: none;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-body);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.forgotForm button[type="submit"]:hover {
  background-color: var(--color-royal-blue);
}

.forgotLink {
  display: flex;
  gap: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.forgotLink .forgotBack {
  font-size: 14px;
  color: var(--color-royal-blue);
  cursor: pointer;
  font-weight: 500;
}

.forgotArrow {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}

.forgotArrow svg {
  width: 100%;
  height: 100%;
  fill: var(--color-royal-blue);
}

.forgotSpan {
  font-size: 12px;
  color: var(--color-dark-gray);
  position: fixed;
  bottom: 20px;
}

.forgotInfo {
  width: 50%;
  background-color: var(--color-royal-blue);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;   
  align-items: flex-start;     
  text-align: left;            
  padding: 48px;
  padding-bottom: calc(48px + 3.7rem);
  color: var(--color-white);
  height: 100vh;    
}

.forgotInfo h2 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 16px;
}

.forgotInfo p {
  line-height: 1.4;
  font-weight: 400;
  opacity: 0.9;
  text-align: left;            
  max-width: 550px;            
}

.forgotInfo > * {
  margin-bottom: 12px;
}

.forgotInfo > *:last-child {
  margin-bottom: 0;
}

.forgotInfoImg {
  height: 90%;
  width: 90%;
  padding-bottom: 2rem;
}

.forgotInfoImg img {
  height: 100%;
  width: 100%;
}